$mainColor: #fb531c;
@forward "element-plus/theme-chalk/src/common/var.scss" with ($colors: ("primary": ("base": $mainColor),
        // "success": ("base": #04ae8b),
        // "warning": ("base": #FF771C),
        // "danger": ("base": #ff3030),
        // "error": ("base": #ff3030),
        // "info": ("base": #9e9e9e),
    ));

@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
    --ci-main-color: #fb531c;
    --ci-main-color-1: #ff0000;
    --ci-white: #fff;

    --ci-container-width: 1200px;
    --co-main-color: var(--ci-main-color);
    --swiper-navigation-color: var(--ci-main-color);
}



.main-bg-color {
    background-color: var(--co-main-color);
}
